# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment folders
venv/
env/

# Docker files
*.log

# MacOS system files
.DS_Store

# IDE/editor configurations
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.swp
